# the PostgreSQL database name for Wirecloud
DB_NAME=wirecloud

# the PostgreSQL database username for Wirecloud
DB_USERNAME=wirecloud

# the password for the Wirecloud user for the PostgreSQL database
DB_PASSWORD=N28tzD9a
